html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
  font-family: 'Coda', cursive;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
  width: 90%;
  min-height: 90%;
  background: linear-gradient(160deg, #a0befc 0%, #b87de7 100%);
  padding: 32px;
  border-radius: 10px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 0 3em;
}

.deck .card {
  height: 125px;
  width: 125px;
  background: #2e3d49;
  font-size: 0;
  color: #ffffff;
  margin: 22px;
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card {
  height: 125px;
  width: 125px;
  background: #400901;
  font-size: 0;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
  transform: rotateY(0);
  background: #ff2c0e;
  cursor: default;
}

.deck .card.show {
  font-size: 33px;
}

.deck .card.match {
  cursor: default;
  background: #de6161;
  font-size: 33px;
}

/* Score Panel, Timer, Moves*/

.score-panel {

  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
}

.score-panel #stars {
  margin: 0;
  padding: 10px;
  display: flex;
  width: 100%;
  margin: 0 5px 0 0;
}

.score-panel #stars li {
  list-style: none;
  display: flex;
  justify-content: center;
  width: 100%;
}

.score-panel .moves {
  display: flex;
  justify-content: center;
  width: 30%;
  cursor: pointer;
}

.score-panel .timer {
  display: flex;
  justify-content: center;
  width: 40%;
  cursor: pointer;
}

.score-panel .restart {
  display: flex;
  justify-content: center;
  width: 30%;
  cursor: pointer;
}

/* Win window */

.finished {
  position: absolute;
  height: 100%;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgba(88, 6, 94, 0.81)
}

.finished-inner {
  position: relative;
  top: 40%;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
}

.finished-inner a {
  padding: 2em;
  color: black;
}
